<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
    <!-- 安全认证过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="loginUrl" value="/resource/login"></property>
		<property name="successUrl" value="/resource/home"></property>
		<property name="unauthorizedUrl" value="/resource/unauthorized"></property>
		<property name="securityManager" ref="securityManager"></property>
		<property name="filterChainDefinitions">
			<value>
				/resource/tologin = anon
				
				/logout = logout
				
				<!-- /item/insert = perms[item:insert]
				/item/update = perms[item:update]
				/item/delete = perms[item:delete]
				/item/query = perms[item:query] -->
				
				/** = authc
			</value>
		</property>
	</bean>
	
	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="customRealm"></property>
		<property name="cacheManager" ref="cacheManager"></property>
		<property name="sessionManager" ref="sessionManager"></property>
	</bean>
	
	<!-- 认证、权限信息Realm -->
	<bean id="customRealm" class="gz.dyl.shiro_ld.realm.CustomRealm">
		<property name="credentialsMatcher" ref="credentialsMatcher"></property>
	</bean>
	
	<!-- 凭证匹配器 -->
	<bean id="credentialsMatcher" class="gz.dyl.shiro_ld.credential.RetryLimitHashedCredentialsMatcher">
		<constructor-arg ref="cacheManager"></constructor-arg>
		<property name="hashAlgorithmName" value="md5"></property>
		<property name="hashIterations" value="2"></property>
		<property name="storedCredentialsHexEncoded" value="true"></property>
	</bean>
	
	<!-- 缓存管理器 -->
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:shiro-ehcache.xml"></property>
	</bean>
	
	<!-- 会话管理器 -->
	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<property name="sessionDAO" ref="sessionDAO"></property>
		<property name="sessionIdCookie" ref="sessionIdCookie"></property>
		<property name="sessionIdCookieEnabled" value="true"></property>		
		<property name="globalSessionTimeout" value="1800000"></property>
		<property name="deleteInvalidSessions" value="true"></property>
		<property name="sessionValidationInterval" value="1800000"></property>
		<property name="sessionValidationScheduler" ref="sessionValidationScheduler"></property>
		<property name="sessionValidationSchedulerEnabled" value="true"></property>
		<property name="sessionListeners">
			<list>
				<ref bean="customSessionListener"/>
			</list>
		</property>
	</bean>
	
	<!-- 会话侦听器 -->
	<bean id="customSessionListener" class="gz.dyl.shiro_ld.listener.CustomSessionListener"></bean>
	
	<!-- 会话cookie -->
	<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="sid"></constructor-arg>
		<property name="httpOnly" value="true"></property>
		<!-- 设置cookie的最大存活时间，单位秒 -->
		<property name="maxAge" value="1800"></property>
		<property name="path" value="/"></property>
	</bean>
	
	<!-- 会话验证调度器 -->
	<bean id="sessionValidationScheduler" class="org.apache.shiro.session.mgt.ExecutorServiceSessionValidationScheduler">
		<property name="interval" value="1800000"></property>
		<property name="sessionManager" ref="sessionManager"></property>
	</bean>
	
	<!-- 会话管理DAO -->
	<bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
		<property name="sessionIdGenerator" ref="sessionIdGenerator"></property>
	</bean>
	
	<!-- 会话ID生成器 -->
	<bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"></bean>
	
</beans>